*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    border: 2px solid yellow;
    display: flex;
}   
.grid{
    width: 640px;
    height: 520px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    border: 2px solid red;
    justify-content: space-evenly;
}

.card{
    width: 140px;
    height:140px;
    border: 2px solid green;
    position: relative;
    align-self: center;
}
.card span{
    position: absolute;
    top:45%;
    left: 45%;
}