* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("img/bambooBg.jpg");
  background-size: cover;
}

input[type="button"] {
  padding: 15px;
  background: brown;
  border: 3px solid brown;
  font-weight: bold;
  position: absolute;
  margin: 0 auto;
  color: white;
  border-radius: 7px;
  font-size: 2rem;
  font-family: "JapanBrush","Courier", monospace;
}

@font-face{
  font-family: "JapanBrush";
  src: url("./fonts/japan.TTF");
}

input[type="button"]:hover {
  cursor: pointer;
}

.container {
  width: 640px;
  height: 520px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1200px;
  border: 10px solid brown;
  box-shadow: -1px 1px rgb(161, 79, 47),
    -2px 2px brown, -3px 3px brown,
    -4px 4px brown, -5px 5px brown,
    -6px 6px brown, -7px 7px brown;
  background: brown;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 3px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.6s;
}

.back-card:hover {
  cursor: pointer;
}

.card.flip {
  transform: rotateX(180deg);
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: white;
  backface-visibility: hidden;
}

.front-card {
  transform: rotateX(180deg);
  padding: 20px;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
}

.gameOver {
  background-image: url("img/endgame.jpg");
  background-size: contain;
}

/*Media queries*/
@media (max-width: 475px) {
  .container {
    width: 80%;
  }
  .card {
    width: 30%;
    height: 18%;
  }
  input[type="button"]{
    font-family: serif;
  }
}
@media (min-width: 475px) and (max-width: 600px) {
  .container {
    width: 65%;
    margin: 15% 15%;
  }
  .card {
    width: 30%;
    height: 23%;
  }
}
@media (max-width: 600px) {
  .gameOver {
    background-image: url("img/endgameSmall.jpg");
    background-size: 100% 100%;
  }
  .front-card{
    padding: 7%;
  }
  input[type="button"]{
    font-size: 1rem;
  }
}











